@media (max-width:1200px){
html{
    font-size: 15px;
}
header {
    padding: 30px 40px;
}
header.sticky {
    padding: 20px 40px;
}
.banner {
    height: 65vh;
}
.banner-text h1 {
    font-size: 3rem;
}
.recommended-img {
    height: 300px;
}
header ul li a {
    padding: 0 10px;
}
section.banner.sub-banner {
    height: 470px;
}
.sub-banner .banner-text h1 {
    font-size: 2.5125rem;
}
}










@media (max-width: 991px)
{
    header
    {
        padding: 20px 40px;
        background: #fff;
    }
    header .logo
    {
        color: #000; 
    }
    .menuToggle
    { 
        display: block;
        /* filter: invert(1); */
    }
    header nav
    {
        /*display: none;*/
        position: absolute;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: .6s;
        padding-top: 70px;
    }
    header ul li a
    {
        color: #000;
    }
    
    header nav.active
    {
        left: 0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }
    header nav ul li a
    {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    header ul li a {
        padding: 10px 0px;
    }
    .services-container {
        flex-direction: column-reverse;
    }
    .service-image {
        flex: auto;
        height: 400px;
        margin-right: 0;
        margin-top: 20px;
    }
}
@media(max-width:850px){
    .menuToggle {
        background-size: 27px;
    }
    .menuToggle.active {
        background-size: 20px;
    }
    .banner {
        height: 60vh;
    }
    .banner-wrap {
        padding-top: 50px;
    }
    .first-step{
        width: 100%;
        margin-bottom: 15px;
    }
    .link-wrap {
        height: 350px;

    }
    .link-card-2 {
        margin: 12px 0;
    }
    .recommended-sec .col-md-6 {
        width: 100%;
    }
}

@media(max-width:767px){
    html{
        font-size: 14px;
    }
    header, header.sticky  {
        padding: 20px 20px;
        background: #fff;
    }
    .menuToggle {
        right: 20px;
    }
    .accordion-button::after {
        width: 2rem;
        height: 2rem;
        background-size: 2rem;
    }
    section.banner.sub-banner {
        height: 450px;
    }
}

@media(max-width:575px){
    .link-wrap {
        height: 300px;
    }
    .copy-right {
        flex-direction: column-reverse;
    }
    .footer-links {
        margin-bottom: 10px;
    }
    .service-image {
        height: 350px;
    }
    a.logo img {
        max-width: 190px;
    }
    .link-wrap h5 {
        left: 0;
        width: 100%;
        text-align: center;
    }
}

@media(max-width:375px){
    .banner {
        height: 55vh;
    }
    .banner-text h1 {
        font-size: 2.8rem;
    }
    .link-wrap, .recommended-img {
        height: 250px;
    }
    .recommended-text {
        padding: 15px 15px 15px;
    }
    .visit-btns {
        position: inherit;
        flex-direction: column;
        text-align: center;
    }
    .service-image {
        height: 300px;
    }
    section.banner.sub-banner {
        height: 420px;
    }
}